<div class="background" style="height: 100%; position: fixed; top: 0; bottom: 0; right: 0; left: 0;"></div>

<nav class="navbar navbar-light dark-green-background">
  <div class="container justify-content-between">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/clover.png" width="40" height="40" class="d-inline-block align-top" alt="">
      <span style="color: white">
           Anasayfa
        </span>
    </a>

    <ul class="navbar-nav me-3">
      <li class="nav-item active">
        <a class="nav-link" (click)="logout()" *ngIf="isUserLoggedIn">
          <span style="color: white">
            Logout
          </span>
        </a>

        <a class="nav-link" routerLink="admin-login" *ngIf="!isUserLoggedIn">
          <span style="color: white">
              Login
          </span>
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="position: relative;">
  <router-outlet></router-outlet>
</div>
