<div style="position: absolute; right: 10px; top: 0;">
  Kalan Soru Sayısı: {{getQuestionLength()}}
</div>

<div style="position: absolute; left: 10px; top: 0;" *ngIf="!group?.redisplay">
  <button class="btn" style="color: white" onclick="this.blur();" (click)="refresh()">
    <fa-icon class="fa-xl" [icon]="faArrowsRotate"></fa-icon>
    Yenile
  </button>
</div>


<div class="row align-items-center mt-5 justify-content-center ">
  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6
    d-flex justify-content-center mt-5  p-4">
      <span class="p-2" [ngClass]=" isEffect ? 'blob' : ''" style="font-weight: bold; font-size: 1.5em">
        {{randomQuestion.question ? randomQuestion.question :
        (getQuestionLength() > 0 ? 'Lütfen aşağıdaki butona tıklayınız' :
          'Tüm soruları görüntülediniz. Soldaki buton ile tekrarlayabilirsiniz.')}}
      </span>

  </div>
  <div class="col-12 d-flex justify-content-center mt-5">
    <button type="button" class="btn dark-green-background" *ngIf="getQuestionLength() > 0"
            onclick="this.blur();" (click)=" getRandomQuestion();"
            [disabled]="getQuestionLength() == 0 || isEffect">Şansımı Seveyim
    </button>
  </div>
</div>


