<div style="position: relative">
  <div style="position: absolute; top: -25px; right: 10px">
    <button class="btn dark-green-background" style="color: white" onclick="this.blur();"
            routerLink="admin-add-group">
      <fa-icon class="fa-xl" [icon]="faCirclePlus"></fa-icon>
      Ekle
    </button>
  </div>

</div>
<div class="mt-5" style="position: relative">
  <div class="row">
    <div *ngFor="let group of groupList" class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 mt-4">
      <div class="card shadow" [routerLink]="'user-lucky-luke/' + group.id">
        <div class="card-body">
          <h5 class="card-title">{{ group.groupName }}</h5>
          <div class="card-subtitle mb-3 text-muted" style="font-size: 0.8em; width: 100%;">
            <span style="float: left">
              {{ +group.createdDate | date: 'dd/MM/YYYY' }}
            </span>
            <span style="float: right">
              soru sayısı: {{group.questionList.length}}
            </span>
          </div>
          <br>
          <div class="card-text">
            <ul>
              <div *ngIf="group.questionList.length >= 2">
                <li class="text-muted" style="margin: 0; padding: 0"
                    *ngFor="let word of group.questionList.slice(0,2)">{{word.question}}</li>
              </div>

              <div *ngIf="group.questionList.length < 2">
                <li class="text-muted" style="margin: 0; padding: 0"
                    *ngFor="let word of group.questionList">{{word.question}}</li>
              </div>
              <li style="list-style-type: none;">
                &bull;&bull;&bull;
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
